<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupProject.borrowMe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/start"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminAreaActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_itemActivity"
            android:label="Add_item" />
        <activity
            android:name=".Unavaliable_Date"
            android:label="Unavaliable Date" />
        <activity
            android:name=".AvailableDate"
            android:label="Available Date" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".UserDetails" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ChangeUserDetails" />
        <activity
            android:name=".FaqActivity"
            android:label="@string/title_activity_faq" />
        <activity
            android:name=".SupportActivity"
            android:label="User Support" />
        <activity android:name=".CheckItems" />
        <activity
            android:name=".InspectItem"
            android:label="@string/title_activity_inspect_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Departments.AllDepartments" />
        <activity android:name=".Top_upActivity" />
        <activity android:name=".ItemDetails"></activity>

        <activity android:name=".Departments.Mobile"></activity>

        <activity android:name=".Departments.Bike"></activity>

        <activity android:name=".Departments.Board"></activity>
        <activity android:name=".Departments.Books"></activity>
        <activity android:name=".Departments.Camera"></activity>
        <activity android:name=".Departments.Car"></activity>
        <activity android:name=".Departments.Clothing"></activity>
        <activity android:name=".Departments.Computer"></activity>
        <activity android:name=".Departments.Costumes"></activity>
        <activity android:name=".Departments.Music"></activity>
        <activity android:name=".Departments.Other"></activity>
        <activity android:name=".Departments.Outdoor"></activity>
        <activity android:name=".Departments.Party"></activity>
        <activity android:name=".Departments.Sport"></activity>
        <activity android:name=".Departments.Tools"></activity>
        <activity android:name=".Departments.Toys"></activity>
        <activity android:name=".Departments.Travel"></activity>
        <activity android:name=".Departments.Video"></activity>

    </application>

</manifest>